.form {
  margin-top: 40px;
  padding: 32px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  width: 640px;
}

.title {
  padding-bottom: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  color: #101828;
}

.text {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  color: #8d929a;
}

.input_container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input_form {
  width: 100%;

  background-color: #f7f7f7;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  color: #8d929a;
  border-radius: 12px;
  border: none;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  padding-right: 20px;
}

.send_btn {
  border: none;
  background-color: #3470ff;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  padding: 12px 58px;
  color: #ffffff;
  border-radius: 12px;
  margin: 0 auto;
  display: block;
  transition: background-color 0.3s ease;
}

.send_btn:hover {
  background-color: #0b44cd;
}

.input_text {
  margin-bottom: 24px;
  background-color: #f7f7f7;
  color: #8d929a;
  border-radius: 12px;
  border: none;
  padding-top: 14px;
  padding-bottom: 56px;
  padding-left: 20px;
}
