.form {
  display: flex;
  gap: 16px;
}

.container {
  padding-left: 258px;
  padding-right: 258px;
  max-width: 1440px;
  margin: 0px auto;
  margin-top: 84px;
  margin-bottom: 56px;
}

.label_text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
  color: #8d929a;
  margin-bottom: 8px;
}

.mileage {
  display: flex;
  flex-direction: column;
}

.input_wrapper {
  display: flex;
}

.input_cover {
  position: relative;
  width: 180px;
}

.input_label {
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;

  pointer-events: none;
}

.input_cover input {
  width: 100%;
  height: 48px;
  padding: 12px 16px;
  padding-left: 70px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: #f7f7f7;
  border: none;
  border-radius: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
}

.select {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 64px;
  background-color: #f7f7f7;
  border: none;
  border-radius: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
}

.select_wrapper {
  display: flex;
  flex-direction: column;
}

.search_btn {
  background-color: #3470ff;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0;
  padding: 12px 51px;
  border-radius: 12px;
  border: none;
  height: 44px;
  align-items: center;
  margin-top: 24px;
  transition: background-color 0.3s ease;
}

.search_btn:hover {
  background-color: #0b44cd;
}
